name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, docker]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Build
        run: go test ./... -race -coverprofile=coverage.txt -covermode=atomic

      - name: CodeCov
        run: bash <(curl -s https://codecov.io/bash)

      - name: Test
        env:
          CI: true
        run: go test -v ./...
